# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/

# Env vars
.env
.env.*

# Project-specific local state
jobs_history.json
browser_profile/

# Mac OS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
